.bill-container {
    padding: 16px;
  
    .header-card {
      margin-bottom: 16px;
    }
  
    .product-name {
      font-weight: bold;
    }
  
    .total-price {
      font-weight: bold;
      font-size: 18px;
      text-align: right;
      margin-top: 16px;
    }
  }
  