.stay-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f8f8;
  
    .filter-section {
      padding: 8px 16px;
      display: flex;
      align-items: center;      
      background: #fff;
      border-bottom: 1px solid #ddd;
      .date-columns {
        display: flex;
        gap: 12px;
        .date {
          width: 60px;
          text-align: center;
          background: #eef3ff;
          padding: 4px 8px;
          border-radius: 4px;
          color: #007bff;
        }
      }
    }
  
    .filter-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      background: #f2f2f2;
      border: none;
      padding: 6px 12px;
      font-size: 14px;
    }
  
    .title{
      background: #fff;
      font-size: 12px;
      font-weight: 600;
    }
  
    .stay-table {
      flex-grow: 1;
      overflow-y: auto;
      background: #fff;
      padding: 8px;
  
      .custom-list-item {
        border: 1px solid #ddd;
        padding: 8px 12px;
      }
      
      .custom-flex {
        display: flex;
        width: 100%;
      }
      
      .custom-flex div {
        flex: 1;
        border-right: 1px solid #ddd;
      }
      
      .custom-flex div:last-child {
        border-right: none;
      }
      
    }
  
    .summary {
      background: #fff;
      padding: 12px 16px;
      border-top: 1px solid #ddd;
  
      .row {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0;
        color: #007bff;
      }
  
      span {
        flex: 1;
        text-align: center;
      }
    }
  
    .tabbar-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #fff;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    }
  }
  